body {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {text-align: center;
    color: black;

}

#main {
    border-style: solid;
    border-color:blue;
    border-radius: 20px;
    background-color: lightyellow;
    width: 70%;
    margin: 5px;
}

#sidebar {
    border-style: solid;
    border-color:blue;
    border-radius: 20px;
    background-color: lightyellow;
    margin: 5px;
}

.green {
    color: forestgreen;
}

.back-video {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

@media (min-width:600px) {

    #container{
        display: flex;
    }

    #sidebar{
        width: 30%;
    }

    #main{
        width: 70%;
    }

    #sidebar2{
        width: 50%;
    }

    #main2{
        width: 50%;
    }

}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}